.body-part3 {
    text-align: center;
    display: flex;
    position: relative;
    gap: 30px;
    margin-top: 50px;
    margin-left: 50px;
}

.box2 {
    width: 250px;
    align-items:baseline ;
    border: 1px solid gray;
    border-radius: 20px;
    height: 380px;
}


.box2 img {
    width: 220px;
    background-color: gray;
    background-size: cover;
    background-position: center;
}

.box2 h1 {
    font-size: 22px;
    margin-right: 90px;
}

.box2 button {
    margin-right: 150px;
    width: 150px;
    border: none;
    border-radius: 8px;
}

.box2 p {
    margin-right: ;
}

.th1 {
    margin-left: 50px;
    font-size: 13px;
}

.brend {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    gap: 85px;
    margin-top: 30px;
}

.box3 {
    width: 130px;
}

.box3 img {
    width: 130px;
}

.th2 {
    font-size: 13px;
    margin-left: 50px;
    margin-top: 55px;

}